
.book-category {
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin: 0 50px;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-transform: capitalize;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 170px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  margin: 10px 20px;
}

.btn {
  width: 184px;
  height: 33px;
  border: none;
  border-radius: 3px;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.remove-btn {
  background-color: #c23434;
  margin-right: 20px;
}

.categoryFilter {
  display: flex;
  margin: 30px 30px;
}

.categoryFilter h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    color: #121212;
    margin-right: 20px;
}

.custom-select {
  width: 285px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}

.custom-select option {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}