.panel-bg {
    height: 95px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 50px;
}

.bookstore-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.oval-container {
    align-self: end;
    margin-right: 20px;
}

.Bookstore-CMS {
    width: 240px;
    height: 37px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
}

.BOOKS {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-left: 20px;
    line-height: normal;
    letter-spacing: 1.9px;
    color: var(--black-three);
}

.CATEGORIES {
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-left: 20px;
    line-height: normal;
    letter-spacing: 1.9px;
    color: var(--black-three);
}

.Oval {
    width: 45px;
    height: 45px;
    border: solid 1px #e8e8e8;
    border-radius: 50%;
}

.Mask {
    width: 17px;
    height: 17px;
    color: #0290ff;
   padding: 10px;
}